<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.intelwebs.formoplast" version="1.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Формопласт</name>
    <description>
        Данные компании Формопласт
    </description>
    <author email="mail@intelwebs.ru" href="http://intelwebs.ru">
        Intelwebs
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#343e50" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.4.1" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-webviewcolor" source="npm" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
    </platform>
    <platform name="ios">
        <icon src="www/res/icon/ios/icon-60@1x.png" width="60" height="60" />
        <icon src="www/res/icon/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="www/res/icon/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="www/res/icon/ios/icon-76@1x.png" width="76" height="76" />
        <icon src="www/res/icon/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="www/res/icon/ios/icon-76@3x.png" width="228" height="228" />
        <icon src="www/res/icon/ios/icon-40@1x.png" width="40" height="40" />
        <icon src="www/res/icon/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="www/res/icon/ios/icon-40@3x.png" width="120" height="120" />
        <icon src="www/res/icon/ios/icon-20@1x.png" width="20" height="20" />
        <icon src="www/res/icon/ios/icon-20@2x.png" width="40" height="40" />
        <icon src="www/res/icon/ios/icon-20@3x.png" width="60" height="60" />
        <icon src="www/res/icon/ios/icon-29@1x.png" width="29" height="29" />
        <icon src="www/res/icon/ios/icon-29@2x.png" width="58" height="58" />
        <icon src="www/res/icon/ios/icon-29@3x.png" width="87" height="87" />
        <icon src="www/res/icon/ios/icon-57@1x.png" width="57" height="57" />
        <icon src="www/res/icon/ios/icon-57@2x.png" width="114" height="114" />
        <icon src="www/res/icon/ios/icon-72@1x.png" width="72" height="72" />
        <icon src="www/res/icon/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="www/res/icon/ios/icon-50@1x.png" width="50" height="50" />
        <icon src="www/res/icon/ios/icon-50@2x.png" width="100" height="100" />
        <splash src="www/res/splash/ios/640.png" width="640" height="1136" platform="ios" />
        <splash src="www/res/splash/ios/750.png" width="750" height="1334" platform="ios" />
        <splash src="www/res/splash/ios/1242.png" width="1242" height="2208" platform="ios" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
